//widgets

//card
.card{
    font-size: 14px;
    width: 300px;
    height:150px;
    border: 1px solid;
    display:inline-flex;
    border-radius:10px;
    @include mediaQry(medium){
        width: 320px;
 
    }
}
.round{
    margin-top:30px;
    margin-left:10px;
    border-radius:50%;
    height: 80px;
    width: 80px;
    
}
.detailRound{
margin-top:20px;
//margin-left:75px;
border-radius:50%;
    height: 90px;
    width: 90px;
}
// .detailRound p{
//     text-align: center;
// }
p{
    display:flex;
    margin:10px;
    //width: 200px;
    height: 20px;
    justify-content: center;
    //align-content:space-between;
    //flex-wrap:wrap;
}

.makeCol{
    //border: 1px solid red;
    width: 220px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    margin-top:30px;
}
.nameBold{
    font-weight:600;
   // display:inline-block;
    //justify-content: center;

}
#modal{
    width:100%;
    height:100%;
    opacity:1;
    z-index:1000;
    display:none;
    position: fixed; 
    left: 0;
    top: 0;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    


}
#modalDetails {
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    //width: 30%; 
    width: 75%;
    height:70%;
    display:none;
    z-index:1001;
    border-radius:10px;
    font-size:14px;
    text-align:center;
    @include mediaQry(medium){
        width: 270px;
        height:350px;

    }
    
}

#close {
    color:grey;
    font-size: 20px;
    font-weight: 700;
    float: right;

}

#close:hover,
#close:focus {
    cursor: pointer;
    color: black;
    text-decoration: none;
}