//base styles
.body{
    font-family: 'Zilla Slab', serif;
}

    
.search{
    width:95%;
    border:1 px solid;
    @include mediaQry(medium){
    width:50% ;
  }
}
.mainContainer{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:(100px 1fr);
    grid-template-areas: 
    "header"
    "main";
}
main{
    display:grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, 320px);
    //grid-template-rows:150px;
    grid-gap: 20px 20px;
}
.card:hover{
    cursor:pointer;
}
