//base styles
.body{
    font-family: 'Zilla Slab', serif;
}

    
.search{
    width:95%;
    border:1 px solid;
    @include mediaQry(medium){
    width:50% ;
  }
}
.mainContainer{
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:(100px 1fr);
    grid-template-areas: 
    "header"
    "main";
}
main{
    display:grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fill, 320px);
    //grid-template-rows:150px;
    grid-gap: 20px 20px;
}
.card:hover{
    cursor:pointer;
}
.navContainer{
    display:flex;
    flex-direction:row;
    align-content: center;
    // background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    // opacity:1;

}
.nav1{
    border: none;
    display: inline-flex;
    width:60px;
    height:20px;
    background-color:whitesmoke;
    

}
.nav2{
    border: none;
    display:inline-flex;
    width:60px;
    height:20px;
    margin-left:119px;
    background-color:whitesmoke;

}